@import url("./__error-message_user/popup__error-message_user.css");
@import url("./__error-message_hidden/popup__error-message_hidden.css");

.popup__error-message {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FF0000;
    font-family: Inter;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 13px;
}