@import url(./__nothing/result__nothing.css);
@import url(./__nothing-image/result__nothing-image.css);
@import url(./__nothing-title/result__nothing-title.css);
@import url(./__nothing-subtitle/result__nothing-subtitle.css);
@import url(./__exist/result__exist.css);
@import url(./__exist-title/result__exist-title.css);
@import url(./__exist-container/result__exist-container.css);
@import url(./__exist-button/result__exist-button.css);
@import url(./__loading/result__loading.css);
@import url(./__loading-image/result__loading-image.css);
@import url(./__loading-title/result__loading-title.css);
@import url(./__opened/result__opened.css);

.result {
    display: block;
    margin: auto;
    padding: 80px 0;
    background-color: #F5F6F7;
    display: none;
}
@media screen and (max-width: 1440px) {
    .result {
        padding: calc((5 / 84) * 100vw - 6px);
    }
}