.card__delete {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    
    outline: none;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__delete:hover .card__delete-image{
    background-image: url(../../../images/delete-image-hover.png);
}