.result__exist-container {
    width: 1232px;
    margin: auto;
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-auto-flow: row;
}