@import url(./__logo_theme/menu__logo_theme.css);

.menu__logo {
    font-family: RobotoSlab;
    color: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    margin: auto 0 auto 104px;
    padding-top: 2px;
}

@media screen and (max-width: 1440px) {
    .menu__logo {
        margin-left: calc((2 / 21) * 100vw - 33px);
    }
}