.popup__close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -26px;
    right: -26px;
    cursor: pointer;
    display: block;
    background-image: url(../../../images/close.svg);
    background-size: contain;
    background-repeat: no-repeat;

    border: none;
    background-color: unset;
  }
  
@media screen and (max-width: 700px) {
    .popup__close {
        top: -36px;
        right: 56px;
    }
}