.search__title {
    font-family: RobotoSlab;
    color: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: auto;
    width: 608px;
    font-size: 60px;
    line-height: 64px;
    font-style: normal;
    font-weight: normal;
    padding-top: 160px;
}