@import url(./__image/author__image.css);
@import url(./__text/author__text.css);
@import url(./__title/author__title.css);
@import url(./__paragraph/author__paragraph.css);

.author {
    width: calc(100% - 208px);
    margin: auto;
    padding: 80px 0;
    display: flex;
}