.popup__container {
    width: 430px;
    background-color: #ffffff;
    border-radius: 16px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px;
  }
  
  @media screen and (max-width: 700px) {
    .popup__container {
      width: 100vw;
      height: calc(100vh - 156px);
      border-radius: unset;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      padding: 16px;
    }
  }