@import url("./__item_active/menu__item_active.css");

.menu__item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 34px;
}
@media screen and (max-width: 700px) {
    .menu__item {
        display: none;
    }
}