@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/search/search.css);
@import url(../blocks/result/result.css);
@import url(../blocks/card/card.css);
@import url(../blocks/author/author.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);

body {
    background-color: #ffffff;
}
.page {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    font-family: Roboto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}