.card__bookmark-image_marked {
    width: 14px;
    height: 19px;
    background-image: url(../../../../images/bookamrk-image-marked.png);
    background-size: contain;
    background-repeat: no-repeat;
}