@import url(./__watermark/footer__watermark.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__social/footer__social.css);
@import url(./__social-item/footer__social-item.css);
@import url(./__social-image/footer__social-image.css);

.footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}